<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Blog Post <small>by <a href="#">Start Bootstrap</a>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Edit</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

	<!-- Blog Post Content Column -->
	<div class="col-lg-8" style="width: 100%">

		<!-- Blog Post -->

		<hr>

		<!-- Date/Time -->
		<p>
			<i class="fa fa-clock-o"></i> Posted on {{blog.postedDate |
			moment:'YYYY-MM-dd HH:mm:ssZ'}} by {{blog.user.name}}
		</p>



		<!-- Preview Image -->
		<!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->


		<div class="well">

			<form role="form">
				<div ng-show="isPost()">
					<h4>Title</h4>
					<div class="form-group">
						<textarea class="form-control" rows="2"
							placeholder="Current title" ng-model="blog.title"></textarea>
					</div>
				</div>

				<div>
					<h4>Content</h4>
					<div class="form-group">
						<textarea class="form-control" rows="8"
							placeholder="Current content" ng-model="blog.content"></textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="edit()">Save</button>
				<button type="submit" class="btn btn-danger" ng-click="remove()">Delete</button>
			</form>
		</div>
		<!-- Blog Comments -->

	</div>