
<div class="row">
	<div class="col-lg-12" style="border-bottom: 1px solid #eee;">
		<div class="col-lg-12">
			<h1 class="page-header col-lg-6" style="border-bottom: none">
				Blog Home One</h1>
			<button class="col-lg-2 btn btn-primary pull-right"
				style="margin: 40px 0 0px" type="button" ng-click="compose()">Post
				a Blog</button>
		</div>
		<ol class="breadcrumb col-lg-12">
			<li><a href="index.html">Home</a></li>
			<li class="active">Blog Home One</li>
		</ol>
	</div>
</div>



<!-- Blog Entries Column -->
<div style="width: 100%" ng-repeat="blog in filteredBlogs">

	<!-- First Blog Post -->
	<div class="row">
		<div class="col-lg-12">
		
			<div class="col-lg-1 vcenter pull-right">
				<div class="btn btn-danger" ng-click="edit(blog.id)">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</div>
			</div>
			
			<div class="col-lg-11">
				<h2>
					<a href="#/view/{{blog.id}}">{{blog.title}}</a>
				</h2>
				<p class="lead">
					by <a href="#">{{blog.user.name}}</a>
				</p>

				<p>
					<i class="fa fa-clock-o"></i> Posted on {{blog.postedDate |
					moment:'YYYY-MM-dd HH:mm:ssZ'}}
				</p>
				
			</div>
			
			
		</div>
		
		<div class = "col-lg-12">
		<hr>
				<img class="img-responsive" src="{{blog.img}}" alt="">
			<hr>
			<p>{{blog.content}} </p>
			<hr>
		</div>
	</div>
</div>

<!-- <a class="btn btn-primary" href="#/view/{{blog.id}}">Read More <i
			class="fa fa-angle-right"></i></a> -->






<div>
	<ul class="pagination">
		<li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">«
				Prev</a></li>
		<li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">Next
				»</a></li>
	</ul>
</div>

<!--  <pagination total-items="blogs.length" ng-model="currentPage" max-size = "2" items-per-page = "5"  ng-change="pageChanged()"></pagination>
      -->


