
<div class="row">
	<div class="col-lg-12" ng-controller="userController">
		<h1 class="page-header">Log in</h1>
		<ol class="breadcrumb">
			<li><a href="#home">Home</a></li>
			<li class="active">Log in</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-8">

		<h3>Please sign in to continue your action</h3>
		
		<form name="signup" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="email" class="form-control" ng-model="user.email" required data-validation-required-message="Please enter your email address." placeholder="ID (Email Address)">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="password" class="form-control" ng-model="user.password" required data-validation-required-message="Please enter your password." placeholder="Password">
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" ng-click="authen()" class="btn btn-primary">Sign In</button>
                </form>


		<!-- <form class="form-signin" role="form">
			<input ng-model="user.email" type="email" class="form-control"
				placeholder="Email address" required="" autofocus=""> <input
				ng-model="user.password" type="password" class="form-control"
				placeholder="Password" required=""> <label class="checkbox">

			</label>
			<button type="submit" ng-click="SignIn($event)"
				class="btn btn-primary">SignIn</button>
		</form> -->
	</div>
</div>