<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Blog Post <small>by <a href="#">Start Bootstrap</a>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Blog Post</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
	<div class="col-lg-12">
		<!-- Blog Post Content Column -->
		<div class="alert alert-success col-lg-12 hide" ng-class="myClass">Successfully
			post</div>
	</div>
	<div class="col-lg-8" style="width: 100%">

		<!-- Comments Form -->
		<div class="well">
			<h4>Post New Thread</h4>
			<form role="form">
				<div  class="form-group">
					<p>image representation
					<input type="file" file-model="myFile" value="image" />
				</div>

				<div class="form-group">
					<textarea class="form-control" rows="2"
						placeholder="Enter your title" ng-model="blog.title"></textarea>
				</div>

				<div class="form-group">
					<textarea class="form-control" rows="8"
						placeholder="Enter your content" ng-model="blog.content"></textarea>
				</div>

				<button type="submit" class="btn btn-primary" ng-click="post()">Submit</button>
			</form>
		</div>

		<hr>



		<!-- Comment -->

	</div>
</div>