
<!-- Page Heading/Breadcrumbs -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Sign up</h1>
		<ol class="breadcrumb">
			<li><a href="#home">Home</a></li>
			<li class="active">Sign up</li>
		</ol>
	</div>
</div>

<!-- Contact Form -->
<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<div class="row" ng-controller="userController">
	<div class="col-md-8">
		<h3>Join us</h3>
		<form name="signup" id="contactForm" novalidate>
			<div class="control-group form-group">
				<div class="controls">
					<input type="text" class="form-control" ng-model="user.name"
						required
						data-validation-required-message="Please enter your name."
						placeholder="Display Name">
					<p class="help-block"></p>
				</div>
			</div>
			<div class="control-group form-group">
				<div class="controls">
					<input type="email" class="form-control" ng-model="user.email"
						required
						data-validation-required-message="Please enter your email address."
						placeholder="ID (Email Address)">
				</div>
			</div>
			<div class="control-group form-group">
				<div class="controls">
					<input type="password" class="form-control"
						ng-model="user.password" required
						data-validation-required-message="Please enter your password."
						placeholder="Password">
				</div>
			</div>
			<div id="success"></div>
			<!-- For success/fail messages -->
			<button type="submit" ng-click="createUser()" class="btn btn-primary">Register</button>

		</form>
	</div>
	<div class="alert alert-success col-lg-4 hide" ng-class="myClass">Registered successfully</div>

</div>
<!-- /.row -->

<!-- no validation now -->

<!-- <script src="app/js/jqBootstrapValidation.js"></script>
<script src="app/js/contact_me.js"></script>
 -->


