<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Blog Post <small>by <a href="#">Start Bootstrap</a>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Blog Post</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

	<!-- Blog Post Content Column -->
	<div class="col-lg-12" style="width: 100%">

		<!-- Blog Post -->

		<hr>
		
		<!-- Date/Time -->
		<p>
			<i class="fa fa-clock-o"></i> Posted on {{blog.postedDate |
			moment:'YYYY-MM-dd HH:mm:ssZ'}} by {{blog.user.name}}
		</p>



		<!-- Preview Image -->
		<!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->

		<hr>

		<!-- Post Content -->
		<div>
		<div class="col-lg-12">
		<p class ="lead col-lg-10">
		{{blog.title}}
		<div  class = "col-lg-1 vcenter"><p class ="text-muted pull-left">Likes : {{blog.likes.length}}</p></div>
		<div  class=" col-lg-1 btn btn-success pull-right vcenter" ng-click="like(blog.id)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></div>	
		</div>
		<img class="img-responsive" src="http://placehold.it/900x300" alt="">
		<div>
		
		<hr>
		<p>{{blog.content}}</p>
		</div>
		</div>
		<hr>

		
		<!-- Blog Comments -->

		<!-- Comments Form -->
		<div class="well">
			<h4>Leave a Comment:</h4>
			<div class="alert alert-danger col-lg-12 hide" ng-class="myClass">Enter your comments</div>
			<form role="form">
				<div class="form-group">
					<textarea ng-model = "comment" class="form-control" rows="3"></textarea>
				</div>
				<button ng-click="postComment()" type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

		<!-- Posted Comments -->

		
		<!-- test -->
		<script type="text/ng-template" id="commentTree">
		<div class="media">
			<div  class="media-body">
				<h4 class="media-heading">
					{{blog.user.name}} <small> {{blog.postedDate}} </small>
				</h4>
		
				{{ blog.content }}
			</div>
			<button class="btn btn-info" ng-click="showReplyBox(blog.id)" >Reply</button>
			<hr>
		</div>
		
		  	<ul ng-if="blog.childBlogs"> 
            <li class="media" style = "margin-top:0px" ng-repeat="blog in blog.childBlogs" ng-include="'commentTree'">           
            </li> 
        </ul> 
       
   		</script>
   		
   		
   		

        
        
		<ul style = "padding-left: 0px">
        <li class="media" ng-repeat="blog in blog.childBlogs" ng-include="'commentTree'"></li>
    	</ul>
    	
    	<div ng-show="showForm">
		<button class="btn btn-success" ng-click="hideReplyBox()">OK</button>
		<textarea class="form-control" rows="1"
							placeholder="Enter your reply" ng-model="reply" focus-me="focusInput" ></textarea>
		</div>
		</div>
		
		

		<!-- Comment -->

</div>