<form  novalidate>

	<div class="alert alert-danger col-lg-12 hide" ng-class="myClass">Invalid User</div>
	<div class="control-group form-group">
		<div class="controls">
			<input type="email" class="form-control" ng-model="user.email"
				required
				data-validation-required-message="Please enter your email address."
				placeholder="ID (Email Address)">
		</div>
	</div>
	<div class="control-group form-group">
		<div class="controls">
			<input type="password" class="form-control" ng-model="user.password"
				required
				data-validation-required-message="Please enter your password."
				placeholder="Password">
		</div>
	</div>
	<div id="success"></div>

	<button type="submit" ng-click="authen()" class="btn btn-primary">Sign
		In</button>
</form>
