<!DOCTYPE html>
<html lang="en" ng-app = "myBlogApp">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Blog Template</title>

<!-- Bootstrap Core CSS -->
<link href="app/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom CSS -->
<link href="app/css/modern-business.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="app/font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
	
<link href="app/css/signin.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller ="mainController">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Sample Blog Site</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-show ="isLoggedIn()" ng-click ="logOut()" href="#">Log out</a></li>
					<li><a href="#signup">Sign up</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="container" style="background: white" >
	<div class="col-md-12" ng-view>
	</div>
	</div>		
	</div>
	<div class="container">
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2014</p>
				</div>
			</div>
		</footer>
	</div>


	<!-- /.container -->

	<!-- jQuery -->
	<script src="app/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="app/js/bootstrap.min.js"></script>
	<script src="app/lib/angular-1.2.3.js"></script>
	<script src="app/lib/angular-cookies-1.2.3.js"></script>
	<script src="app/lib/angular-resource-1.2.3.js"></script>
	<script src="app/lib/angular-route-1.2.3.js"></script>
	<script src="app/lib/ui-bootstrap-tpls.js"></script>
	<script src="app/js/momment.js"></script>
	<script src="app/app.js"></script>
	<script src="app/script/controller/blog.js"></script>
	<script src="app/script/controller/user.js"></script>
	<script src="app/script/controller/view.js"></script>
	<script src="app/script/controller/post.js"></script>
	<script src="app/script/controller/edit.js"></script>
	<script src="app/script/controller/main.js"></script>
	<script src="app/script/service/blog.js"></script>
	<script src="app/script/service/user.js"></script>
	<script src="app/script/service/data.js"></script>
	<script src="app/script/service/authen.js"></script>
	<script src="app/script/service/like.js"></script>
	<script src="app/script/service/util.js"></script>
	<script src="app/script/service/upload.js"></script>
	<script src="app/script/directive/blog.js"></script>
	<script src="app/script/filter/time.js"></script>
	
	

    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
   
	

</body>

</html>
