.box {
    position: relative;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #2D4BE5;
}

.box-header {
    margin: 0px;
    padding: 5px;
}

.box-title {
    font-size: 16px;
}

.box-body{
    padding: 5px;
}

.top_right{
    position: absolute;
    top: -18px;
    width: 100%;
}
.note {
    margin-top: 15px;
}

.note .top_right {
    display: none;
}

.note:hover .top_right {
    display: block;
}